{% extends 'introapibase.html' %}
{% block content %}

<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th>
							API列表
						</th>
						<th>
							类型
						</th>
						<th>
							描述
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a href="">taobao.user.buyer.get
						</td>
						<td>
							免费
						</td>
						<td>
							查询买家信息API
						</td>
					</tr>
<!--
					<tr class="success">
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							Approved
						</td>
					</tr>
					<tr class="error">
						<td>
							2
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							Declined
						</td>
					</tr>
					<tr class="warning">
						<td>
							3
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							Pending
						</td>
					</tr>
					<tr class="info">
						<td>
							4
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Call in to confirm
						</td>
					</tr>
-->
				</tbody>
			</table>
{% endblock %}
