<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Data Simulator</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/trading/trading.css" rel="stylesheet">
    <link href="/static/fine-tuning.css" rel="stylesheet">

    <![endif]-->
  </head>

  <body>
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=""><img class="indexlogo" src="/static/imgs/logo.png"  alt="logo" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <!--<h1>Stock Analysis!</h1>-->
	<p>API introduction...</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row clearfix">
      <div class="page-header">
		<h1>
		     所有<small>类别</small>
		</h1>
	</div>
        <div class="col-md-4">
            {% if all_stocks %}            
            <ul class="nav nav-pills nav-stacked">
              <!--
              <li role="presentation" class="active"><a href="#">沪深300-上证50-中证500</a></li>
              <li role="presentation"><a href="#">API 2</a></li>
              <li role="presentation"><a href="#">API 3</a></li>
              -->
            {% for stock in all_stocks %}
		<li role="presentation"><a href="#">{{ stock.class_top_name }}</a></li>
	      {% endfor %}
            </ul>
            {% else %}
    	      <p>No stocks are available.</p>
            {% endif %}
        </div>
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
        
      </div>

      <hr>

      <footer>
        <p>&copy;Footer</p>
      </footer>
    </div> <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery-1.11.3.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  </body>
</html>
