{% extends 'base.html' %}
{% block content %}
	<h1> Data Review </h1>
	<ul>
		<li><h2><a href="/trading/stock">HuShen300&ShangZheng50&ZhongZheng500</a></h2></li>
            <!--
		<li><h2><a href="/trading/trader"> Traders </a></h2></li>
		<li><h2><a href="/trading/register_trader"> Register as trader </a></h2></li>
		<li><h2><a href="/trading/register_viewer"> Register as viewer </a></h2></li>
		<li><h2><a href="/trading/add_stock"> Add Stock </a></h2></li>
            -->
	</ul>
{% endblock %}
